@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

:root {
  font-family: Inter, "Segoe UI", sans-serif;
  font-size: 14px;
  color: #e2e8f0;
  background-color: #020817;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

@theme {
  --breakpoint-xs: 450px;
}

@layer components {
  .flexgap {
    @apply flex flex-col gap-2;
  }

  .inputdesigne {
    @apply bg-slate-900 px-2 py-1 rounded-lg h-10 focus:outline-none focus:bg-slate-800;
  }
}
